* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardContainer {
    padding: 0.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5vw;
}
@media only screen and (max-width: 1024px) {
    .cardContainer {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 668px) {
    .cardContainer {
        grid-template-columns: 1fr;
    }
}