* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 1vw;
}

.titleheader{
    color: #3A86FF;
}
.ui.input {
    cursor: pointer;
    background-color: red;
}

.item{
    cursor: pointer;

}
.logInbutton {
    color: #3A86FF;
}
.i.dropdown.icon{
    float: none;
}